.header {
  height: fit-content;
  margin-top: 1rem;
  margin-left: 1rem;
}
.abc {
  display: flex;
}
.abc .hrc{
  align-items: center;
  margin: 0 20%;
}

.text{
    align-items:flex-start;
}
.txt{
    color: red;
    font-size: x-large;
}
